$animation-duration: 500ms;
$border-color: #ebeef5;
$border-hover-color: #66b1ff;
$border-radius: 4px;
$color-danger: #d2181c;
$color-info: #909399;
$color-primary: #409eff;
$color-success: #67c23a;
$color-warning: #f34711;
$color: #ffffff;
$font-family: PingFangSC-Regular;
$font-size: 14px;
$input-height: 32px;
$red-hover-color: #e94043;
$min-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.75);
